* {
    margin:0;
    padding:0;
    color:#222;
}

@import url(//fonts.googleapis.com/earlyaccess/notosansdevanagari.css);

body {
    font-family: 'Noto Sans Devanagari', sans-serif;
}

h1 {
    text-align: center;
    float:left;

}

main {
    max-width: 900px;
    margin:0 auto;
}

.row {
    max-width:900px;
    margin:0 auto;
}

header {
    background-image:url("/img/books.png");
    height:300px;
    background-size:cover;
    margin-bottom:75px;
    position: relative;
}

header nav {
    top:28px;
    position: relative;
    height:57px;
    background-color:#FFF;
    line-height:57px;
    text-align: center;
}

header nav a {
    width: 120px;
    height: 40px;
    background-color:#f4f5f5;
    color:#222;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    float:right;
    text-transform: uppercase;
    margin: 8px 15px;
    text-decoration: none;
}

@media (max-width: 670px) {
    header nav {height: 115px;background-color:rgba(255,255,255,.5)}
    header nav h1 { float:none; }
    header nav a { width: 30%;margin:0;margin-right:1%;float:none; }
}

header select {
    position: relative;
    top: 50px;
}

header input {
    position: relative;
    top: 50px;

}

header select,
header input {
    margin:0;
    border:0;
    padding:0;
    display:inline-block;
    vertical-align:middle;
    white-space:normal;
    background:none;
    line-height:1;

    /* Browsers have different default form fonts */
    font-size:13px;
    font-family:Arial;
    border-radius: 0!important;
}

header select,
header input {
    background-color:#FFF;
    outline: #FFF 2px solid;
    outline-offset: 4px;
    height:37px;
    width:25%;
    position: absolute;
    top: 80px;
}

header select {
    left:25%;
}

header input {
    left:55%;
}


@media (max-width: 670px) {
    header select {width: 80%;top: 125px;outline: none;left:10%}
    header input { top: 180px;width: 80%;left:10%; right:auto;outline: none}
}


.book-download {
    background-color:#222;
    width:50%;
    height:40px;
    line-height: 40px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin:5px auto;
    color:#FFF;
}

.book-download:hover {
    background-color:#48b;
    cursor: pointer;
}

.book-download[href="#"] {
    background-color:#ccc;
    color:#222;
}

article img {

}

.section-title {
    border-bottom: thin solid #222;
    padding-bottom:15px;
    margin-bottom:15px;
    font-weight:normal;
    font-size:1.2rem;
}


.book {
    float:left;
    width: 150px;
    height:200px;
    text-align: center;
}

.book .js-open-modal {
    color:#222;
    text-decoration: none;
}

.book .js-open-modal span {
    text-overflow: ellipsis;
    white-space: nowrap; overflow: hidden;
    width:150px;
    display: block;
    margin-top:10px;
}

.book-cover {
    width:100px;
    height:157px;
    display: block;
    background-color: #4488bb;
    margin:0 auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

article .book-cover {
    float:left;
    width:auto;
    height:auto;
}


.modal-box {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 98%;
    min-height:70%;
    background: white;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    padding: 20px 10px;
}
.modal-box h3 { padding: 2em 1.5em; }

.js-modal-close {
    line-height: 1;
    font-size: 1.5em;
    position: absolute;
    top: 5%;
    right: 2%;
    text-decoration: none;
    color: #bbb;
}

.js-modal-close:hover {
    color: #222;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}

.modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3) !important;
}

@media (min-width: 32em) {
    .modal-box { width: 70%; }
}
